<marquee><h1 style="color: red;">Holidays</h1></marquee>
<ul>
  <li><%= link_to "Create", new_holiday_path(@holiday) %></li>
</ul>
  <% @holiday.each do |holiday| %>
   <b>Number :</b> <%= holiday.id %><br>
  <b>Holiday Name :</b> <%= holiday.name %><br>
   <b>Date :</b> <%= holiday.date %><br>
     <hr>

  <% end %>
      
