<style type="text/css">
	body
	{
		text-align: center;
		background-color: lightgreen;
		
	}

</style>
  <body>
    <b>Holiday Name:</b> <%= @holiday.name %><br>
   <b>Date:</b> <%= @holiday.date %><hr>
</body>