<marquee><h1 style="color: red;">Leave Status</h1></marquee>
<% @leave_requests.each do |leave_request| %>
<b> name:</b> <%= leave_request.user.name %><br>
<b> start_date:</b> <%= leave_request.start_date %><br>
<b>end_date :</b> <%= leave_request.end_date %><br>
<b>Status :</b> <%= leave_request.status %><br>
<hr>
<% end %>
