  <style type="text/css">
    body
    {
        text-align: center;
        background-color: lightgreen;
        
    }

</style>
<body>
    <b>Event Name:</b> <%= @event.name %><br>
   <b>Date:</b> <%= @event.date %><hr>
      <%= button_to "Home", events_path, method: :get %>
</body>
