<div style="text-align: center;">
  <h2 style="color: #3498db;">Home</h2>
  <%= link_to 'Add User', new_user_path, style: "background-color: #3498db; color: #fff; padding: 10px 20px; border: none; cursor: pointer; text-decoration: none;" %>
</div>