<!-- <style>
  body {
    background-color: grey;
  }
 
  form {
    background-color: skyblue;
    margin: 250px;
    border-radius: 10px;
    padding: 20px;
  }
</style>

<form>
  <div style="text-align: center;">
    <h2 style="color: #3498db;">Login</h2>
    <%= form_with do %>
      <div style="margin-bottom: 10px;">
        <label for="email" style="color: #333;">Email:</label>      
        <%= email_field_tag :email, nil, style: "padding: 5px; border: 1px solid #ccc;" %>
      </div>
      <div style="margin-bottom: 10px;">
        <label for="password" style="color: #333;">Password:</label>
        <%= password_field_tag :password, nil, style: "padding: 5px; border: 1px solid #ccc;" %>
      </div>
      <%= submit_tag 'Log In', style: "background-color: #3498db; color: #fff; padding: 10px 20px; border: none; cursor: pointer;" %>
    <% end %>
  </div>
</form> -->
<!-- <h1 style="margin-r: 1122px;">he</h1> -->
<!DOCTYPE html>
      <html>
        <head>
          <title> Title of the document<title>
        </head>
          <body>
		<div style="float: left; margin: 40px ;">
           	 This is the left paragraph using left float.
            </div>
        
        <div style="float: left; margin: 40px ;">
            This is the right paragraph using left float.
        </div>
          </body>
      </html>
